---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Features from "../components/Features.astro";
import Tabs from "../components/Tabs.astro";
import Card from "../components/Card.astro";
---

<Layout title="👋 Hello Interns">
  <Showcase showExtra={true} />
  <!-- <Features /> -->
  <section class="page-content">
    <div class="container">
      <!-- <h2>Get Started With Astro</h2>
      <p>
        Get a new Astro project up and running locally with our helpful
        create-astro CLI wizard!
      </p>
      <Tabs
        headings={["NPM", "PNPM", "YARN"]}
        contents={[
          "$ npm create astro@latest",
          "$ pnpm create astro@latest",
          "$ yarn create astro@latest",
        ]}
      /> -->

      <div>
        <h2>What is Hi Interns</h2>
        <p>
          Hi interns is an online platform that gives students access to the
          right network, exposure to various careers and opportunities, and
          ultimately accelerates their journeys into the work world.
        </p>
        <p>
          Completing an internship is the most effective way to grow your
          professional network, develop real-life industry skills and enhance
          your chances of employment
        </p>
        <a class="btnn py-2 px-4 rounded" href="/blog"> Get Started!</a>
      </div>
      <div>
        <h3>Why internships?</h3>
        <Card>
          <h4>Networking</h4>
          <p>
            You can create a professional network through colleagus, clients and
            vendors you work with. These connections can be helpful when
            searching for a job! vendors
          </p>
        </Card>
        <Card>
          <h4>Skill development</h4>
          <p>
            Advance your skill set, develop new ones and test what you have
            already learned. The skills you gain through an internship can help
            you in the rest of your school studies and in future jobs.
          </p>
        </Card>
        <Card>
          <h4>Experience</h4>
          <p>
            Internships provide industru and real-world expericence outside of
            the classroom and eases the transition from college to the
            professional world!
          </p>
        </Card>
        <Card>
          <h4>Exploration</h4>
          <p>
            Gain exposure to your field of interest and confirm career goals,
            choices or discover new ones you weren't aware of through an
            internship!
          </p>
        </Card>
      </div>
      <div>
        <h1>Appliying for an internship has never been easier!</h1>
        <a class="btnn py-2 px-4 rounded" href="/blog"> Get Started!</a>
        <Card>
          <h1>Step 1</h1>
          <p>Click on Get Started</p>
        </Card>
        <Card>
          <h1>Step 2</h1>
          <p>Browse for opportunity</p>
        </Card>
        <Card>
          <h1>Step 3</h1>
          <p>Contact the company</p>
        </Card>
        <Card>
          <h1>Step 4</h1>
          <p>Repeat</p>
        </Card>
      </div>
    </div>
  </section>
</Layout>
