---
import logo from "../images/logo.svg";
import logo2 from "../images/logo2.svg";
import logo3 from "../images/logo3.svg";
import logo4 from "../images/logo4.svg";
import logo5 from "../images/logo5.svg";
---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src={logo5} alt="" />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <a class="btnn py-2 px-4 rounded" href="/blog">Get Started!</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    height: 80px;
    /* background: var(--color-primary); */
  }

  .header .container {
    max-width: 1800px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: red solid 1px;
  }

  .header img {
    height: 30px;
    vertical-align: middle;
  }

  .header nav ul {
    display: flex;
  }

  .header nav ul li {
    padding: 0 10px;
  }

  .header nav ul li a {
    color: #fff;
  }
</style>
