---
import logos from "../images/framework-logos.png";
import logosSmall from "../images/framework-logos-small.png";

export interface Props {
  heading?: string;
  text?: string;
  showExtra?: boolean;
}

const {
  heading = "Start your career the right way",
  text = "Join us & Explore Internship opportunities",
  showExtra = false,
} = Astro.props as Props;
---

<section class="showcase">
  <div class="showcase-text">
    <h1 class="font-['Poppins'] text-7xl mb-10 font-extrabold">
      {heading}
    </h1>
    <p class="font-regular text-3xl">
      {text}
    </p>
  </div>
  <a class="btnn py-2 px-4 rounded" href="/internships"> Get Started!</a>
  <!-- {
    showExtra && (
      <>
        {" "}
        <div class="showcase-img">
          <img class="logos" src={logos} alt="" />
          <img class="logos-small" src={logosSmall} alt="" />
        </div>
        <p class="showcase-demo">
          <small>
            This is a demo website used for the YouTube crash course
          </small>
        </p>
      </>
    )
  } -->
</section>

<style>
  .showcase {
    height: 100vh;
    /* background-color: var(--color-secondary);
    background-image: linear-gradient(
      to bottom,
      var(--color-primary),
      rgb(15 23 42 / 0)
    ); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .showcase-blog {
    min-height: 300px;
  }

  .showcase-text {
    max-width: 700px;
    /* color: #fff; */
    color: var(--color-new-secondary);
    text-align: center;
    margin: 50px auto;
  }

  .showcase h1 {
    /* font-size: 50px; */
    /* color: #fff; */
    /* margin-bottom: 20px;
    font-weight: 900; */
  }

  .showcase p {
    /* font-size: 24px; */
    margin-bottom: 20px;
  }

  .showcase-img {
    text-align: center;
  }

  .showcase-img img {
    border-radius: 10px;
    margin: auto;
  }

  .showcase-demo {
    /* color: #fff; */
    color: var(--color-new-secondary);
    text-align: center;
    font-weight: 300;
  }
  .bold {
    font-weight: 900;
  }
</style>
